- bg_status = { 'INACTIVE' => 'bg-white', 'ACTIVE' => 'bg-yellow-100', 'BIDDING' => 'bg-lime-500', 'CLOSED' => 'bg-gray-500'}
%div.auction{ id: dom_id(auction), 'data-controller': 'auction', 'data-controller-id': auction.id, 'data-auction-id': auction.id, class: "relative rounded-2xl p-6 shadow-xl shadow-slate-900/10 #{bg_status[auction.status]}" }
  %p
    %b Seller:
    = auction.seller.name
  %hr{class: 'border-t border-gray-500 my-4'}
  %p
    %b Title:
    = auction.title
  %p
    %b Description:
    = auction.description
  %p
    %b Status:
    %span.auction-status
      = auction.status
  - if auction.start_time.present?
    %p
      %b Start time:
      = auction.start_time.strftime('%Y-%m-%d %H:%M:%S')
  %p
    %b Duration:
    = auction.duration
  %p
    %b Starting price:
    = auction.starting_price

  - if auction.on_bid?(current_user)
    - bidding_class = 'bg-sky-300'
  - elsif auction.out_bid?(current_user)
    - bidding_class = 'bg-rose-500'
  - else bidding_class = 'bg-white'

  .p-2{class: bidding_class}
    %p
      %b Highest bid:
      .highest-bid= auction.highest_bid&.amount
    %p
      %b Current bidder:
      .highest-bidder= auction.highest_bid&.buyer&.name

  - if current_user == auction.seller
    %hr{class: 'border-t border-gray-500 my-4'}
    - unless auction.bids.present?
      = link_to 'Edit', edit_auction_path(auction), class: "group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600"
    %p &nbsp;
    - if auction.inactive?
      = link_to 'Start', start_auction_path(auction), data: {turbo_method: :patch, turbo_stream: true}, class: "group inline-flex items-center justify-center rounded-full py-2 px-4 text-sm font-semibold focus:outline-hidden focus-visible:outline-2 focus-visible:outline-offset-2 bg-blue-600 text-white hover:text-slate-100 hover:bg-blue-500 active:bg-blue-800 active:text-blue-100 focus-visible:outline-blue-600"
  - if current_user.buyer? && (auction.active? || auction.bidding?)
    %hr{class: 'border-t border-gray-500 my-4'}
    = simple_form_for([auction, auction.bids.build], html: {class: 'flex flex-wrap gap-2'}, data: { turbo: true }) do |f|
      %p.basic-full.w-full.text-rose-500{ id: "auction-#{auction.id}-bid-error" }
      = f.input :amount, label: false, input_html: {class: 'rounded-lg p-2 border border-gray-300'}
      = f.button :submit, 'Place bid', class: 'rounded-lg p-2 bg-blue-600 text-white hover:bg-blue-500'