%p#notice= notice

%p
  %b Title:
  = @auction.title
%p
  %b Description:
  = @auction.description
%p
  %b Starting price:
  = @auction.starting_price
%p
  %b Current price:
  = @auction.current_price
%p
  %b Start time:
  = @auction.start_time
%p
  %b End time:
  = @auction.end_time
%p
  %b Status:
  = @auction.status
%p
  %b Seller:
  = @auction.seller

= link_to 'Edit', edit_auction_path(@auction)
\|
= link_to 'Back', auctions_path
